@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    background-image: linear-gradient(180deg,#FAAD00, #E95E19);
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin: 2rem;
}

.activity {
    text-align: center;
    margin-bottom: 2rem;
}

.main-text {
    font-size: 3rem;
}

.activity-button {
    background-color: #E95E19;
    color: #fff;
}

.activity-button:hover {
    background-color: #fff;
    color: #E95E19;
}

.calendar {
    background-color: #fff;
    width: 50%;
    border-radius: 20px;
    padding: 5rem 0;
}

.days-container {
    font-size: 0;
}

.days-button {
    width: 50px;
    font-size: 1rem;
    border-radius: 0;
}

.days-button:focus {
    outline: none;
    box-shadow: none;
}

.even {
    background-color: #FFC069;
}

.month-container {
    text-align: right;
    font-size: 1.5rem;
}

.month {
    height: 40px;
}

.january {
    height: 190px;
}

.february {
    height: 155px
}

.march {
    height: 150px;
}

.april {
    height: 190px;
}

.may {
    height: 150px;
}

.june {
    height: 150px;
}

.july {
    height: 190px;
}

.august {
    height: 150px;
}

.september {
    height: 155px;
}

.october {
    height: 190px;
}

.november {
    height: 155px;
}

.mobile {
    display: none;
}

/* Footer Section */
footer {
    text-align: center;
    color: #fff;
    margin-top: 5rem;
}

a {
    text-decoration: none;
    color: #FFC069;
}

/* Media Queries */

@media (max-width: 1200px) {
    .calendar {
        width: 70%;
    }
}

@media (max-width: 800px) {

    .calendar {
        width: 90%;
        padding: 0;
    }

    .desktop {
        display: none;
    }

    .mobile {display: block;}
}

@media (max-width: 450px) {


    .days-button {
        font-size: 0.75rem;
    }

    .month-container {
        font-size: 0.75rem;
    }

    .month {
        height: 40px;
    }
    
    .january {
        height: 160px;
    }
    
    .february {
        height: 130px
    }
    
    .march {
        height: 125px;
    }
    
    .april {
        height: 155px;
    }
    
    .may {
        height: 135px;
    }
    
    .june {
        height: 125px;
    }
    
    .july {
        height: 160px;
    }
    
    .august {
        height: 130px;
    }
    
    .september {
        height: 130px;
    }
    
    .october {
        height: 155px;
    }
    
    .november {
        height: 130px;
    }

    h1 {
        font-size: 2rem;
    }

    .main-text {
        font-size: 1.5rem;
    }
    .days-button {
        width: 30px;
    }

    #activity-submit {
        margin-top: 0.5rem;
    }
}